<!DOCTYPE html>
<head>
  <h1 style="text-align: center; font-size: 30px;"> CLINIC APPOINTMENT SYSTEM </h1>
</head>
<link rel="stylesheet" href="stylesheet1.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="symptom.js"></script>
</head>
<script>
  angular.module("SymptomApp",[])
.controller("SymptomController",SymptomController)
.factory('SymptomFactory',SymptomFactory);

function SymptomFactory()
{
    var factory = function(maxCount)
    {
        return new SymptomServer(maxCount);
    }
    return factory;
}

function SymptomServer(maxCount)
{
    var service = this;
    var symp = ["cough"];

    service.addItem = function(s)
    {
        if((maxCount != undefined && symp.length < maxCount))
        {
            symp.push(s);
        }
        else
        {
            throw new Error('Max Count reached');
        }
    }
    service.removeItem = function(sympIndex)
    {
        symp.splice(sympIndex, 1);
    }
    service.getItems = function()
    {
        return symp;
    }
    
}

SymptomController.$inject = ['SymptomFactory'];

function SymptomController(SymptomFactory)
{
    var l = this;
    var symptomList = SymptomFactory(3);
    l.symp = symptomList.getItems();
    l.sym = "";
    l.addItem = function()
    {
        symptomList.addItem(l.sym);
    }
    l.removeItem = function(sympIndex)
    {
        symptomList.removeItem(sym);
    };

}


</script>
<ul>
  <li><a href="http://localhost:5500/reception">Home</a></li>
  <li><a href="http://localhost:5500/viewapp">View Appointment</a></li>
  <li style="float:right"><a href="http://localhost:5500/logout">Logout</a></li>
</ul>
<body>
    <div ng-app="SymptomApp" style="font-size: 14px;">
        <h1>
            <br><center>APPOINTMENT FORM</center><br>
            <center>
              <form name="myForm" action="/makeappointment" method="POST">
                <label for="PatientName">Name:</label><br><br>
                <input type="text" name="PatientName" ng-model="name" pattern="[a-zA-Z]" required="" ng-disabled="all"><br>
                <span ng-show="myForm.$submitted || myForm.name.$dirty">
                    <span class="error" ng-show="myForm.name.$error.required"><i class="fa fa-exclamation-circle"></i> Name Required</span>
                    <span class="error" ng-show="myForm.name.$error.pattern"><i class="fa fa-exclamation-circle"></i> Name cannot be Number</span>
                </span><br><br>
                <label for="Age">Age:</label><br><br>
                <input type="text" name="Age" ng-model="age" pattern="{a,}" required="" ng-disabled="all"><br>
                <span ng-show="myForm.$submitted || myForm.name.$dirty">
                    <span class="error" ng-show="myForm.age.$error.required"><i class="fa fa-exclamation-circle"></i> Age Required</span>
                </span><br><br>
                <label for="Gender">Gender</label><br><br>
                <select name="Gender" id="Gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="others">others/option>
                </select>
                <span ng-show="myForm.$submitted || myForm.gender.$dirty">
                    <span class="error" ng-show="myForm.gender.$error.required"><i class="fa fa-exclamation-circle"></i> Gender Required</span>
                </span><br><br>
                <label for="Address">Address</label><br><br>
                <input type="text" name="Address" ng-model="address" required="" ng-disabled="all" ng-maxlength="20">
                <p ng-if="!myForm.address.$valid">Address can't exceed more than 20 letters</p>
                <span ng-show="myForm.$submitted || myForm.address.$dirty">
                    <span class="error" ng-show="myForm.address.$error.required"><i class="fa fa-exclamation-circle"></i> Address Required</span>
                </span><br><br>
                 <label for="Symptoms">Symptoms</label><br><br>
                 <input type="text" name="Symptoms" ng-model="symptoms" required="" ng-disabled="all" ng-minlength="5" ng-maxlength="26">

                <span ng-show="myForm.$submitted || myForm.symptoms.$dirty">
                    <span class="error" ng-show="myForm.symptoms.$error.required"><i class="fa fa-exclamation-circle"></i> Symptoms Required</span>
                </span><br><br>
            <label for="datee">Appointment date</label><br><br>
                <input type = "date" id="datee" name = "datee" ng-disabled="all"><br><br>
                <label for="timee">Appointment time</label><br><br>
                <input type="time" id="timee" name="timee" ng-disabled="all"><br><br>
                <button onclick="myFunction()" type="submit">Submit</button>
                </form>
            </center>
    </div>
    </div>
</body>

</html>
