<!DOCTYPE html>

<head>
    <title>View patients</title>
</head>

<body>

    <head>
        <h1 style="text-align: center; font-size: 30px;"> CLINIC APPOINTMENT SYSTEM </h1>
    </head>
    <link rel="stylesheet" href="stylesheet1.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="tableContent.js"></script>
    <body>
        <ul>
            <li><a href="http://localhost:5500/reception">Home</a></li>
            <li><a href="http://localhost:5500/makeappointment">Make appointment</a></li>
            <li style="float:right"><a href="http://localhost:5500/logout">Logout</a></li>
        </ul>

        <body ng-app="Appointment">
            <div ng-controller="myController">
                <center>
                    <h1 style="color: #333;">PATIENT RECORD</h2>
                        <input type="text" ng-model="search" placeholder="Search" style="padding: 10px 8px; font-size: 22px;"><br><br><br>
                        <table id="patienttable">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Gender</th>
                                <th>Address</th>
                                <th>Symptom</th>
                                <th>Date</th>
                                <th>Time</th>
                            </tr>
                            <tr ng-repeat="item in patient | filter: search">
                                <td>{{item.Patientid}}</td>
                                <td>{{item.PatientName | uppercase}}</td>
                                <td>{{item.Age | number}}</td>
                                <td>{{item.Gender | uppercase}}</td>
                                <td>{{item.Address | uppercase}}</td>
                                <td>{{item.Symptoms | uppercase}}</td>
                                <td>{{item.Date | date: medium}}</td>
                                <td>{{item.Time | date: "hh:mm"}}</td>
                            </tr>
                        </table>
                </center>
            </div>
        </body>
    </body>

    </html>